@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-balsamiq-sans: "Balsamiq Sans", sans-serif;
  --font-nunito-sans: "Nunito Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-balsamiq-sans);
}

body, p, button, input {
  font-family: var(--font-nunito-sans);
}

.bg-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.button-primary {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-primary:hover {
  background-color: #f7fafa;
}

.button-primary:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

/* Slide In Animation */
.slide-in-hidden {
  opacity: 0;
  transform: translateX(-100px);
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}