@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-hero {
  background-image: url("/3childrenBooksMockup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}